<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woniu.fitness.mapper.CommentMapper">

    <resultMap id="baseResultMap" type="com.woniu.fitness.model.Comment">
        <id column="comment_id" property="comment_id"/>
        <result column="comment_content" property="comment_content"/>
        <result column="dynamic_id" property="dynamic_id"/>
        <result column="create_time" property="create_time"/>
        <result column="user_id" property="user_id"/>
        <result column="main_comment_id" property="main_comment_id"/>
        <association property="user" javaType="com.woniu.fitness.model.User">
            <id property="user_id" column="user_id"/>
            <result column="account" property="account"/>
            <result column="nickname" property="nickname"/>
        </association>
    </resultMap>


    <select id="selectAll" resultMap="baseResultMap">
        select c.*,u.account,u.nickname from t_comment c,t_user u where c.user_id=u.user_id and dynamic_id=#{id}
    </select>

    <!--插入返回id的方法-->
    <insert id="insert" parameterType="comment">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="comment_id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_comment (user_id,dynamic_id,comment_content,create_time,main_comment_id) values
        (#{user_id},#{dynamic_id},#{comment_content},#{create_time},#{main_comment_id})
    </insert>

    <delete id="remove">
        delete from t_between_comment where main_comment_id=#{id} or secondary_comment_id =#{id}
    </delete>

    <delete id="deleteReply">
        delete FROM t_comment where t_comment.comment_id in ${arr}
    </delete>

    <select id="findReplyById" resultType="Integer">
        select comment_id from t_comment where main_comment_id = #{id}
    </select>
</mapper>
