<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woniu.fitness.mapper.CourseOrderMapper">

    <!--插入返回id的方法-->
    <insert id="insert" parameterType="courseOrder">
        insert into t_course_order (course_id,user_id,order_number,create_time,change_time,pay_time,amount) values
        (#{course_id},#{user_id},#{order_number},#{create_time},#{change_time},#{pay_time},#{amount})
    </insert>

</mapper>
